extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend aliquet nulla, non posuere quam tincidunt sit amet. Nam tellus metus, auctor eget luctus et, tempus eget tellus. Maecenas euismod non enim at scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat dolor lorem, vitae egestas ligula gravida ut. 

                p Pellentesque euismod augue ut aliquet consectetur. Sed porttitor ligula tincidunt sapien luctus dignissim. Quisque tristique vestibulum est non posuere. Mauris dictum placerat tristique. Nam dapibus venenatis semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas dapibus, urna non consequat sagittis, urna odio gravida quam, ac dapibus metus velit volutpat arcu. Vestibulum ultricies sed elit hendrerit congue. Vivamus vel varius nisl.

                p laoreet elementum augue, vitae bibendum magna porta sed. Donec tristique massa non nunc condimentum condimentum. Curabitur augue ligula, tristique ut turpis at, porttitor vestibulum lacus. Mauris eu massa hendrerit nibh imperdiet vulputate. Pellentesque sed urna vel mi hendrerit finibus eget vitae sapien. Curabitur quis erat diam.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Mauris eu massa hendrerit nibh imperdiet vulputate. Pellentesque sed urna vel mi hendrerit finibus eget vitae sapien. Curabitur quis erat diam.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Mauris eu massa hendrerit nibh imperdiet vulputate. Pellentesque sed urna vel mi hendrerit finibus eget vitae sapien. Curabitur quis erat diam.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Mauris eu massa hendrerit nibh imperdiet vulputate. Pellentesque sed urna vel mi hendrerit finibus eget vitae sapien. Curabitur quis erat diam.